# Miscellaneous
*.md
!README.md
!WHITE_LABEL.md
!docs/
!docs/*.md
!.github/release_template.md
!.github/release_template_pre.md
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/specs/
/dist/
.test/
.vscode/
/services/helper/target/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

/android/core/.cxx

#libclash
/libclash/

#jniLibs
/android/app/src/main/jniLibs/
/android/core/src/main/jniLibs/
/android/service/src/main/jniLibs/

# Flutter generated desktop artifacts
/windows/flutter/ephemeral/
/linux/flutter/ephemeral/
/macos/Flutter/ephemeral/

# FVM Version Cache
.fvm/
.fvmrc

# Local signing/private keys
/android/app/keystore.jks
*.keystore
*.p12
*.pfx
